@model WMS.WebUI.ViewModels.Auth.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginPageLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="ForgotPassword" method="post">
            <h4>Enter your email to reset your password</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Send Reset Link</button>
            </div>
        </form>
    </div>
</div>