@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginPageLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<p>If an account with that email address exists, we have sent you an email with instructions to reset your password.</p>
