@model List<WMS.WebUI.ViewModels.TransactionView>

@{
    var transactionTypes = new string[] { "All", "Sales", "Supplies", "Refunds" };
}

<form asp-controller="Transactions" asp-action="Index">
    <input type="hidden" />
    <div class="row mt-3">
        <div class="d-flex justify-content-start gap-4">
            <div class="col-md-3 mb-4">
                <ejs-combobox id="transactions"
                              dataSource="transactionTypes"
                              value="@ViewBag.SelectedType"
                              placeholder="Select type"
                              name="transactionType">
                </ejs-combobox>
            </div>
            <!-- Search -->
            <div class="col-md-4 mb-4">
                <div class="d-flex">
                    <ejs-textbox id="search" value="@ViewBag.SearchString" placeholder="Search Transactions..." name="searchString"></ejs-textbox>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

            <div class="d-flex mb-4 justify-content-end" style="gap: 15px;">
                <a class="btn btn-outline-info" asp-action="download">
                    <i class="fa fa-solid fa-download"></i> Download
                </a>
                <a class="btn btn-outline-info" asp-action="upload">
                    <i class="fa fa-solid fa-upload"></i> Upload
                </a>
                <a class="btn btn-success" asp-action="create">
                    <i class="fa fa-solid fa-plus"></i> Create
                </a>
            </div>
        </div>
    </div>
</form>

<div class="row mb-4">
    <div class="col-12">
        <ejs-grid id="categories-list"
                  dataSource="@Model"
                  gridLines="Vertical"
                  allowSorting="true">
            <e-grid-columns>
                <e-grid-column headerText="Id" field="Id" template="#idCellTemplate" typeof="Text"></e-grid-column>
                <e-grid-column headerText="Amount" field="TotalDue" typeof="Text" format="c2"></e-grid-column>
                <e-grid-column headerText="Date" field="date" typeof="Text" format="yMd"></e-grid-column>
                <e-grid-column headerText="Partner" field="Partner" template="#partnerCellTemplate" typeof="Text"></e-grid-column>
                <e-grid-column headerText="Type" field="Type" typeof="Text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<script id="idCellTemplate" type="text/template">
    <div>
        <a rel='nofollow' href="transactions/details/${Id}">${Id}</a>
    </div>
</script>
<script id="partnerCellTemplate" type="text/template">
    <div>
        <a rel='nofollow' href="transaction/partners/${Id}">${Partner}</a>
    </div>
</script>

<script id="stockTemplate" type="text/x-template">
    <div class="template_checkbox text-center">
        ${if(LowQuantityAmount > QuantityInStock)}
            <p class="text-danger">${QuantityInStock}</p>

            ${else}
            <p>${QuantityInStock} </p>
        ${/if}
    </div>
</script>