@model WMS.WebUI.ViewModels.PartnerViewModels.EditPartnerViewModel

<div class="container mt-5">
    <form id="partner-form" class="p-4 shadow rounded" asp-action="Edit">
        <h3 class="text-center mb-4">Edit Partner</h3>

        <div class="row mb-3">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                @Html.EJS().TextBox("FirstName").Placeholder("First Name").FloatLabelType(Syncfusion.EJ2.Inputs.FloatLabelType.Auto).Value(Model.FirstName).Render()
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                @Html.EJS().TextBox("LastName").Placeholder("Last Name").FloatLabelType(Syncfusion.EJ2.Inputs.FloatLabelType.Auto).Value(Model.LastName).Render()
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                @Html.EJS().TextBox("PhoneNumber").Placeholder("Phone Number").FloatLabelType(Syncfusion.EJ2.Inputs.FloatLabelType.Auto).Value(Model.PhoneNumber).Render()
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                @Html.EJS().NumericTextBox("Balance").Placeholder("Balance").FloatLabelType(Syncfusion.EJ2.Inputs.FloatLabelType.Auto).Value(Model.Balance).Render()
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success w-50">Submit</button>
        </div>
    </form>
</div>
